.outer-container {
  margin: 7.5rem auto;
  width: 21.4rem;
  height: 22.69rem;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
  border-radius: 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 1.875rem;
  align-items: center;
}

.inp-form {
  width: 17.25rem;
  height: 3.12rem;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #6f6f6f;
}

.option {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #5300a7;
}

.btn-submit {
  padding: 10px 20px;
  gap: 1.875rem;
  width: 17.25rem;
  height: 2.75rem;
  background: #121212;
  border: 1px solid rgba(125, 131, 152, 0.3);
  box-shadow: 0px 3px 6px rgba(18, 18, 18, 0.03);
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
}

.or {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #000000;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 0.75rem;
  width: 17.25rem;
  height: 3rem;
  background: #c95252;
  border: 1px solid rgba(125, 131, 152, 0.3);
  box-shadow: 0px 3px 6px rgba(18, 18, 18, 0.03);
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}

.logo {
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepnglogos.com%2Fpics%2Fgoogle-logo&psig=AOvVaw3hKInmo1njkxIrBZx8Ptag&ust=1678571687258000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCLib-Pqs0v0CFQAAAAAdAAAAABAE),
    #fffcfc;
  border-radius: 3.125rem;
  width: 1.8rem;
  height: 1.7rem;
}
